<!DOCTYPE html>
<html lang="en" class="platform-iphone platform-mobile platform-m bugfix " style="font-size: 11.25px;">

<head>
    <meta charset="utf-8">
    <script type="text/javascript">
    navigator.__defineGetter__("userAgent",
        function() {
            return "Mozilla/5.0 (iPhone; CPU iPhone OS 5_0 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9A334 Safari/7534.48.3"
        })
    </script>
    <title>欧德罗-经销商系统</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="chenhaoqiang">
    <meta name="description" content="欧德罗-OTHELLO,经销商系统">
    <meta name="keywords" content="欧德罗-OTHELLO,经销商系统">
    <link rel="stylesheet" href="__CSS__/base.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/user.css">
    <script src="__JS__/jquery.min.js"></script>
</head>

<body>
    <div id="mod-container" class="mod-container clearfix">
        <div id="mod-mine" class="mod-mine pageview" style="display: block;">
            <header class="pub-header">
                <a href="javascript:history.back(-1)"><span class="tap-action icon icon-back"></span></a>
                <div class="header-content ">
                    我的欧德罗-OTHELLO
                </div>
                <span class="header-right header-right-text"></span>
            </header>
            <!--content start-->
            <div class="main main-top">
                <div class="my_header">
                    <div class="me">
                        <div class="me-photo">
                            <img src="images/logo.png">
                        </div>
                        <div class="me-info">
                            <p class="me-name">您的称呼</p>
                            <p class="me-phone"><i class="iconfont icon-shouji"></i>132****2809</p>
                        </div>
                        <a class="me-setting" href="setting.html">账号管理</a>
                    </div>
                </div>
                <!-- 订单 -->
                <section class="my_section">
                    <dl class="mod-head-strip">
                        <dt>
                            <a href="myorder.html">
                                <h3><i class="iconfont icon-Order" style="color: #57BADF;"></i>我的订单</h3>
                                <h5>查看全部订单<i class="iconfont icon-you"></i></h5>
                            </a>
                        </dt>
                        <dd>
                            <ul id="order_ul">
                                <li><a href="myorder/order_status/1.html"><i class="iconfont icon-daifukuan"></i><p>待付款</p></a></li>
                                <li><a href="myorder/order_status/2.html"><i class="iconfont icon-daifahuo"></i><p>待发货</p></a></li>
                                <li><a href="myorder/order_status/3.html"><i class="iconfont icon-daishouhuo"></i><p>待收货</p></a></li>
                                <li><a href="javascript:;"><i class="iconfont icon-tuikuan"></i><p>售后服务</p></a></li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <!-- 订单end -->
                <dl class="mod-head-strip">
                    <dt>
                        <a href="myaddress.html">
                            <h3><i class="iconfont icon-shouhuodizhi" style="color: #f58612"></i>我的收货地址</h3>
                            <h5><i class="iconfont icon-you"></i></h5>
                        </a>
                    </dt>
                </dl>
                <dl class="mod-head-strip">
                    <dt>
                        <a  href="tel:02039283126" title="客服电话">
                            <h3><i class="iconfont icon-kefu" style="color: #f00"></i>020-39283126</h3>
                            <h5><i class="iconfont icon-you"></i></h5>
                        </a>
                    </dt>
                </dl>
            </div>
            <!--content end-->
        </div>
    </div>
</body>

</html>
