<!DOCTYPE html>
<html lang="en" class="platform-iphone platform-mobile platform-m bugfix " style="font-size: 11.25px;">

<head>
    <meta charset="utf-8">
    <script type="text/javascript">
    navigator.__defineGetter__("userAgent",
        function() {
            return "Mozilla/5.0 (iPhone; CPU iPhone OS 5_0 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9A334 Safari/7534.48.3"
        })
    </script>
    <title>欧德罗-经销商系统</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="chenhaoqiang">
    <meta name="description" content="欧德罗-OTHELLO,经销商系统">
    <meta name="keywords" content="欧德罗-OTHELLO,经销商系统">
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
    <div class="login">
        <div class="login-title">
            <p>欧德罗-经销商系统</p>
            <i><img src="images/white-logo.png" style="width: auto;margin: 0 auto;"></i>
        </div>
        <form id="login-info" action="" method="post">
            <div class="login-bar">
                <ul>
                    <li><img src="images/login_user.png">
                        <input type="text" class="text" placeholder="请输入用户名">
                    </li>
                    <li><img src="images/login_pwd.png">
                        <input type="password" class="psd" placeholder="请输入确认密码">
                    </li>
                </ul>
            </div>
            <div class="login-btn">
                <button class="submit" type="submit">登陆</button>
                <a href="register.html">
                    <div class="login-reg">
                        <p>莫有账号，先注册</p>
                    </div>
                </a>
            </div>
        </form>
    </div>
</body>

</html>
