<!DOCTYPE html>
<html lang="en" class="platform-iphone platform-mobile platform-m bugfix " style="font-size: 11.25px;">

<head>
    <meta charset="utf-8">
    <script type="text/javascript">
    navigator.__defineGetter__("userAgent",
        function() {
            return "Mozilla/5.0 (iPhone; CPU iPhone OS 5_0 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9A334 Safari/7534.48.3"
        })
    </script>
    <title>欧德罗-经销商系统</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="chenhaoqiang">
    <meta name="description" content="欧德罗-OTHELLO,经销商系统">
    <meta name="keywords" content="欧德罗-OTHELLO,经销商系统">
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/myaddress.css" />
    <script src="./js/jquery.min.js"></script>
    <script src="./js/iscroll.js"></script>
</head>

<body>
    <div id="mod-container" class="mod-container clearfix">
        <!--我的地址-->
        <div id="mod-addrlist" class="mod-addredit mod-addrlist pageview" style="display: block;">
            <header class="pub-header">
                <a href="javascript:history.back(-1)"><span class="tap-action icon icon-back"></span></a>
                <div class="header-content ">
                    我的地址
                </div>
                <span class="header-right header-right-text">
                            </span>
            </header>
            <div class="main main-top ui-graybg" data-iscroll-id="address" style="overflow: scroll;    padding-bottom: 90px;">
                <div class="content" style="transition-property: transform; transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
                    <form onsubmit="return false;">
                        <ul class="edit-ul" id="list-addr">
                            <li class="mod-addresslist g_event" data-tap="selectAddr|265">
                                <div class="list-info">
                                    <div class="list-name">test<span>15920182657</span></div>
                                    <br>
                                    <div class="list-addr">市桥</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="265" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|435">
                                <div class="list-info">
                                    <div class="list-name">测试地址<span>0731-89838137</span></div>
                                    <br>
                                    <div class="list-addr">测试地址</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="435" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|650">
                                <div class="list-info">
                                    <div class="list-name">臧秋珍<span>13683227819</span></div>
                                    <br>
                                    <div class="list-addr">金顶街街道办事处金顶街4区9-1702金顶街街道第三行阿萨德刚开始的阿萨德宽高和办事处金顶街4区9-1702阿萨德第三方阿斯蒂芬阿双方阿斯蒂芬</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="650" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|666">
                                <div class="list-info">
                                    <div class="list-name">测试添加地址<span>15920182657</span></div>
                                    <br>
                                    <div class="list-addr">大众街30号</div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="666" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                            <li class="mod-addresslist g_event" data-tap="selectAddr|883">
                                <div class="list-info">
                                    <div class="list-name">s <span>15920182657</span></div>
                                    <br>
                                    <div class="list-addr">s </div>
                                </div>
                                <div class="mod-revisions" data-tap="addredit">
                                    <button id="883" class="button" type="button" onclick="editClick(this)">修改</button>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="pub-cart">
                <div class="bigbtn bigbtn-one tap-action g_event" data-tap="itemClick|addradd">+新增地址</div>
            </div>
        </div>
        <!--新增地址-->
        <div id="mod-addradd" class="mod-addredit mod-addrdelete pageview" style="display: none;">
            <header class="pub-header">
                <span class="tap-action icon icon-back" data-tap="!back">
                            </span>
                <div class="header-content ">
                    新增地址
                </div>
                <span class="header-right header-right-text">
                            </span>
            </header>
            <div class="main main-top ui-graybg" data-iscroll-id="address" style="overflow-y: hidden;">
                <div class="content" style="transition-property: transform; transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
                    <form id="autocomplete-form" onsubmit="return false;">
                        <ul class="edit-ul">
                            <li>
                                <span class="list_name">
                                                联系人
                                            </span>
                                <input id="addradd-name" class="input addr-input-name" name="name" type="text" size="10" maxlength="10" placeholder="收货人姓名">
                            </li>
                            <li>
                                <span class="list_name">
                                                手机号
                                            </span>
                                <input id="addradd-phone" class="input addr-input-phone" name="phone" required="" type="tel" maxlength="13" value="" placeholder="收货人手机号">
                            </li>
                            <li class="ui-nowrap addr-city-address">
                                <span class="list_name">
                                                地区
                                            </span>
                                <input id="addradd-areas" class="input addr-input-areas" name="areas" required="" type="text" value="" placeholder="选择所在地区" data-tap="select|areas">
                            </li>
                            <li>
                                <span class="list_name">
                                                详细地址
                                            </span>
                                <span class="addr-address">
                                                <input id="addradd-address" class="input addr-input-address" name="" type="text" placeholder="详细收货地址">
                                            </span>
                            </li>
                        </ul>
                    </form>
                    <div class="bigbtn bigbtn-one tap-action g_event" data-tap="addNewAddrClick">
                        保存
                    </div>
                </div>
            </div>
        </div>
        <!--编辑地址-->
        <div id="mod-addredit" class="mod-addredit mod-addrdelete pageview" style="display: none;">
            <header class="pub-header">
                <span class="tap-action icon icon-back" data-tap="!back">
                            </span>
                <div class="header-content ">
                    编辑地址
                </div>
                <span class="header-right header-right-text">
                            </span>
            </header>
            <div class="main main-top ui-graybg" data-iscroll-id="address" style="overflow-y: hidden;">
                <div class="content" style="transition-property: transform; transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
                    <form onsubmit="return false;">
                        <input id="addrid" type="hidden" value="435">
                        <ul class="edit-ul">
                            <li>
                                <span class="list_name">
                                                联系人
                                            </span>
                                <input id="addredit-name" class="input addr-input-name" name="name" type="text" size="10" maxlength="10" placeholder="收货人姓名">
                            </li>
                            <li>
                                <span class="list_name">
                                                手机号
                                            </span>
                                <input id="addredit-phone" class="input addr-input-phone" name="phone" required="" type="tel" maxlength="13" value="" placeholder="收货人手机号">
                            </li>
                            <li class="ui-nowrap addr-city-address">
                                <span class="list_name">
                                                地区
                                            </span>
                                <input readonly="true" id="addredit-areas" class="input addr-input-areas" name="areas" required="" type="text" value="" placeholder="选择所在地区" data-tap="select|areas">
                            </li>
                            <li>
                                <span class="list_name">
                                                详细地址
                                            </span>
                                <span class="addr-address">
                                                <input id="addredit-address" class="input addr-input-address" name="" type="text" placeholder="详细收货地址">
                                            </span>
                            </li>
                        </ul>
                    </form>
                    <div class="bigbtn bigbtn-one tap-action g_event" data-tap="updateAddrClick">
                        保存
                    </div>
                    <div class="bigbtn bigbtn-one tap-action g_event" data-tap="deleteAddrClick">
                        删除
                    </div>
                </div>
            </div>
        </div>
        <!--我的地址/选取区域-->
        <div id="mod-select-areas" class="mod-mine pageview" style="display: none;">
            <header class="pub-header">
                <span class="tap-action icon icon-back" data-tap="!back">
                            </span>
                <div class="header-content ">
                    选择区域
                </div>
                <span class="header-right header-right-text">
                            </span>
            </header>
            <div id="list_select_areas" class="main main-both iscroll-container" data-iscroll-id="9" style="overflow: hidden;">
                <div style="transition-property: transform; transform-origin: 0px 0px 0px; transform: translate(0px, 0px) scale(1) translateZ(0px);">
                    <div class="mine-block">
                        <div id="list_select_areas_result">
                            <div class="mine-item tap-action" data-tap="areaClick|440103|荔湾区"><span class="item-icon"></span>荔湾区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440104|越秀区"><span class="item-icon"></span>越秀区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440105|海珠区"><span class="item-icon"></span>海珠区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440106|天河区"><span class="item-icon"></span>天河区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440111|白云区"><span class="item-icon"></span>白云区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440112|黄埔区"><span class="item-icon"></span>黄埔区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440113|番禺区"><span class="item-icon"></span>番禺区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440114|花都区"><span class="item-icon"></span>花都区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440115|南沙区"><span class="item-icon"></span>南沙区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440116|萝岗区"><span class="item-icon"></span>萝岗区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440183|增城市"><span class="item-icon"></span>增城市</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440184|从化市"><span class="item-icon"></span>从化市</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440188|东山区"><span class="item-icon"></span>东山区</div>
                            <hr>
                            <div class="mine-item tap-action" data-tap="areaClick|440189|其它区"><span class="item-icon"></span>其它区</div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/address.js"></script>
</body>

</html>
