{__NOLAYOUT__}
<form data-method="post" data-action="{:url('Payment/saveData');}" data-submit="ajax" data-validate="true" class="form-horizontal" id="editForm">
    <input type="hidden" value="{$data['id'] ?? ''}" name="id">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">{$data['id']?lang('Edit'):lang('Add')}{:lang('PaymentMethod')}</h3>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('Payment')}{:lang('Name')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="pay_name" maxlength="12" placeholder="{:lang('Up_characters',['langth' =>12])}" required value="{$data['pay_name'] ?? ''}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('PaymentCode')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="pay_code" maxlength="12" placeholder="{:lang('Up_characters',['langth' =>12])}" required value="{$data['pay_code'] ?? ''}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('Payment')}{:lang('Describe')}</label>
                            <div class="col-sm-7">
                                <textarea name="pay_desc" class="form-control" maxlength="255" placeholder="{:lang('Up_characters',['langth' =>255])}"  >{$data['pay_desc'] ?? ''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('Sort')}</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" name="pay_sort" required digits="true" maxlength="3" placeholder="{:lang('The front of a large number')}" value="{$data['pay_sort'] ?? '0'}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('Status')}</label>
                            <div class="col-sm-7">
                                <select name="pay_status" class="form-control" required>
                                    <option value="0" {$data['pay_status'] == 0 ? 'selected' : ''}>{:lang('Off')}</option>
                                    <option value="1" {$data['pay_status'] == 1 ? 'selected' : ''}>{:lang('Start')}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                    <button type="submit" class="btn btn-primary">{:lang('Save')}</button>
                </div>
            </div>
        </div>
    </div>
</form>
